.BeerProfile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  background: #000000cb;
  border: solid 1px #000;
  border-radius: 4px;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  height: 350px;

  .profile-img {
    margin: auto;
    border: solid 1px #fff;
    border-radius: 4px;
    height: 90%;
  }

  .profile-name {
    font-size: 1.8em;
    margin: 24px;
    margin-bottom: 0;
  }

  .profile-brewery {
    margin-top: 0;
    margin-bottom: 2em;
  }
  
  .profile-style {
    margin: 0;
  }

  .profile-notes {
    text-align: left;
    margin: auto;
    width: 50%;
    font-size: .8em;
  }

  

}