.card-container {
  // background: rgba(0, 0, 0, 0.831);
  background: linear-gradient(to bottom, #fff0,rgba(255, 255, 255, 0.50) 10%, rgba(255, 255, 255, 0.85) 15%) ;
  padding: 50px;
  padding-top: 200px;
  width: 100%;
}

.beer-img {
  height: 328px;
  width: 100%;
}