.card-container {
  background: linear-gradient(to bottom, #fff0,rgba(255, 255, 255, 0.50) 100px, rgba(255, 255, 255, 0.85) 250px) ;
  padding: 50px;
  padding-top: 200px;
}

.beer-img {
  height: 328px;
  width: 100%;
}