.SearchResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
  grid-gap: 50px;
  margin: 50px;

  .beer-card {
    align-items: center;
    background: #7c1b0dbb;
    border: solid 1px #000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .beer-card > * {
    color: #fff;
  }

  .beer-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}