.Search {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-top: 30px;
  
  form{
    align-items: center;
    display: flex;
    min-width: 365px;
    max-width: 440px;
  }

  input {
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-left: 10px;
  }

  button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    margin-left: -25px;
    background: #ffc107;
    transition: transform .2s;
  }

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s;
  }

  img {
    width: 30px;
  }
}