@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import './styles/BeerProfile.scss';
@import './styles/CardContainer.scss';
@import './styles/Header.scss';
@import './styles/Search';
@import './styles/SearchResults.scss';


.App {
  background-image: url('./assets/st-826688_1920.jpg');
  background-size: 100vw 100vh;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  padding-top: 20vh;
}

.App::before {
  background: rgba(255, 255, 255, 0.119);
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.inside-App {
  position: relative;
}

h1{
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  text-align: center;
  margin: 10px;
}

h2 {
  color: #fff;
  font-size: 18px;
  text-align: center;
}